

{% extends "layout.html" %}

{% block content %}

<h2> About WorkHub </h2>
<p>WorkHub is a private workspace where you can organized all your work together. Two types of accounts are provided here: manager and employee. Manager accounts will be able to post new announcements, assign new tasks and start new polls, while employee accounts can receive and respond to the items above that requires their participation.</p>

<h2> Our Team </h2>
<p>Xinchun (Atsushi) Hu, Yuncong (Joe) Zuo, Xiayimei (Hancya) Han, Ruoyu (David) Wu, Haitong Lin</p>

{% endblock content  %}