{% extends "layout.html" %}

{% block content %}

	{% for poll in polls.items %}
        <h6>Polls</h6>
        <article class="media content-section">
          <img class = "rounded-circle article-img" src = "{{ url_for('static', filename = 'profile_pics/' + poll.author.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ poll.author.username }}</a>
              <small class="text-muted">{{poll.date_posted.strftime('%m-%d-%Y') }}</small>
            </div>
            <h2><a class="article-title" href="{{url_for('poll', poll_id = poll.id)}}">{{ poll.title }}</a></h2>
            <p class="article-content">{{ poll.content }}</p>
          </div>
        </article>
	{% endfor  %}	


  {% for page_num in polls.iter_pages(left_edge = 1, right_edge = 1, left_current = 1, right_current = 2) %}
    {% if page_num %}
      {% if polls.page == page_num %}>
        <a class = "btn btn-info mb-4" href = "{{ url_for('main', page = page_num)}} ">{{page_num}} </a>
      {% else %}
        <a class = "btn btn-outline-info mb-4" href = "{{ url_for('main', page = page_num)}} ">{{page_num}} </a>
      {% endif %}
    {% else %}
      ...
    {% endif %}
  {% endfor %}


{% endblock content  %}