{% extends "layout.html" %}

{% block content %}

	<h1> Departments Page </h1>

{% for i in range(7) %}
<article class="media content-section">
    <div class="media-body">
    	<div class="article-metadata">
    		<h5><a class="article-title">
    		{% if depts[i] == 'RaD' %}
				Research & Development
            {% elif depts[i] == 'HR' %}
                Human Resource
            {% else %}
                {{depts[i]}}
            {% endif %}	
    		</a></h5>
    	</div>
      <h6><a class="article-title"> 
			{% for username in belong[i] %}
				{{username[0]}},
			{% endfor %}
      </a></h6>
			
	</div>
</article>

	{% endfor %} 

{% endblock content  %}