{% extends "simple_layout.html" %}

{% block content %}

        <article>
        	<p style="margin-left: 2.5em;padding: 0 7em 2em 0;border-width: 2px; border-color: grey; border-style:none;"></p>
        	<p style="margin-left: 2.5em;padding: 0 7em 2em 0;border-width: 2px; border-color: grey; border-style:none;"></p>
              <h1><center> Bring All Your Work Together.</center></h1></pre>

              <p style="margin-left: 2.5em;padding: 0 7em 2em 0;border-width: 2px; border-color: grey; border-style:none;"></p>

              <h5><center> Collect Your To-Dos.</center></h5>
              <h5><center> Manage Your Tasks.</center></h5>
              <h5><center> Keep Track of Things.</center></h5>
              <h5><center> Give Your Opinions.</center></h5>
              <p style="margin-left: 2.5em;padding: 0 2em 2em 0;border-width: 2px; border-color: grey; border-style:none;"></p>
              <h4><center> Join WorkHub Today.</center></h4>
              <div>

              <a class="nav-item nav-link" href="/register"><center> Register as New User</center></a>

          	 </div>

        </article>
  

{% endblock content  %}