{% extends "layout.html" %}

{% block content %}
 <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
            <div class="article-metadata">

            <a class="mr-2" href="#">{{ poll.author.username }}</a>
            <small class="text-muted">{{poll.date_posted.strftime('%m-%d-%Y') }}</small>

            {% if poll.author == current_user %}
              <div>
              <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
              </div>
            {% endif %}

          </div>


          <small class="text-muted">{{ poll.title }}</small>

          <h3 class = "article-title">{{ poll.question }}</h3>
            {% if completed %}
            <h5> Poll result </h5>
            {% else %}
            <div class="form-group">
  
            {{ form.choice(class="form-check") }} 
              <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>                 
            </div>           
            {% endif %}

            </fieldset>
        </form>
</div>

      <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Poll?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('delete_poll',poll_id=poll.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
      </div>
    </div>


{% endblock content  %}